.mainBackground{
background-image: linear-gradient(to bottom,#FFF, rgb(86, 201, 230));
padding: 4%;
// height: 100vh;
.home {
  width: auto;
  height: auto;
  /* background-image: url("./../../../public/Images/HomeBackground.svg"); */
  background-color: rgb(13, 15, 30);
  border-radius: 8px;
  padding: 16px;
  
}
}
