.offerings {
  .offeringSection {
    margin-top: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .border {
      width: 100%;
      border-top: 4px solid #fff;
    }
    .background {
      position: absolute;
      background-color: rgb(13, 15, 30);
      width: max-content;
      display: flex;
      justify-content: center;
      border-radius: 26px;
      padding: 12px 16px;
      border:1px solid #FFF;
      .headingText {
        font-family: cursive;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        margin: 0;
        padding: 0;
        background-image: linear-gradient(to right, #fff, rgb(86, 201, 230));
        background-clip: text;
        color: transparent;
      }
    }
  }
  .contentText {
    color: #fff;
    padding: 32px 16px;
    font-family: cursive;

  }
}
