// .headingComp {
//   width: 100%;
//   height: 20%;
//   display: flex;
//   justify-content: space-between;
//   .companylogo {
//     width: 92px;
//     height: 66px;
//     cursor: pointer;
//   }
//   .dashboardProps {
//     display: flex;
//     align-items: center;
//     gap:16px;
//     .MuiList-root {
//       display: flex;
//       gap:6px;
//       .MuiListItem-root {
//         padding: 8px 0;
//         margin: 0 16px;
//         width: max-content;
//         color: #fff;
//         cursor: pointer;
//       }
//     }
//     .login {
//       color: #000;
//       background:rgb(86, 201, 230);
//       border-radius: 16px;
//       height: 36px;
//       min-width: 72px;
//       font-weight: 700;
//       text-transform: capitalize;
//     }
//   }
// }

.headingComp {
  background-color: rgb(13, 15, 30);
  padding: 16px;
  width: auto;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 10px 20px;
  border-radius: 8px 8px 0 0;

  .companylogo {
    width: 92px;
    height: 66px;
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
  }

  .dashboardProps {
    display: flex;
    align-items: center;
    gap: 16px;

    .MuiList-root {
      display: flex;
      // flex-direction: row;
      gap: 6px;

      .MuiListItem-root {
        padding: 8px 0;
        margin: 0 16px;
        width: max-content;
        color: #fff;
        cursor: pointer;

        .MuiListItemText-root {
          margin: 0 15px; /* Adjust spacing as needed */
        }
      }
    }

    .login {
      // margin-left: 20px;
      color: #000;
      background: rgb(86, 201, 230);
      border-radius: 16px;
      height: 36px;
      min-width: 72px;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}
